#sidenav{
    background-color: var(--navy);
    left: 0;
    padding: 1.5em 1em 1em 1em;
    height: 100% !important;
    width: 18%;
    text-align: start;
}
#sidenav-container{
    height: 100%;
    width: 100%;
}
#sidenav-search{
    border-radius: 5px;
    border: none;
    padding: 5px 15px 5px 10px;
    width: 60%;
}
#sidenav-search-btn{
    border: none;
    border-radius: 5px;
    font-size: 1em;
    color: white;
    padding: 5px 10px 5px 10px;
    background-color: var(--orange);
}
#sidenav-search-btn:hover{
    cursor: pointer;
    background-color:#d17423 ;
}
#sidenav-search-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: sticky;
}
.sidenav-aircraft-item{
    color: white;
    list-style: none;
    border-radius: 10px;
    padding: 15px 0px 15px 0px;
    width: 100%;
}
.sidenav-aircraft-item:hover{
    cursor: pointer;
}
.sidenav-aircraft{
    text-decoration: none;
    color: white;
    font-weight: 600;
    width:max-content;
    border-radius: 10px;
    padding: 15px 8.5em 15px 8px;
}
.sidenav-aircraft:hover{
    background-color: var(--blueHover) ;
}
#sidenav-aircrafts-list-container{
    margin-top: 0.4em;
    height: 100%;
    overflow-y: scroll;
    margin-bottom: 1em;
    padding-left: 0.5em;
}
#sidenav-aircrafts-list{
    padding-top: 0.6em;
    padding-left: 0px;
    height: 90%;
}
.sidenav-aircraft-item-arrow{
    margin-right: 8px;
}
.sidenav-aircraft-sublist{
    padding-top: 1em;
    list-style: none;
}
.sidenav-aircraft-sublist-icon{
    margin-right: 8px;
}
.sidenav-aircraft-sublist-item{
    padding: 1em 0 1em 0;
}
.sidenav-aircraft-sublist-item-anchor{
    padding: 0.8em 30% 0.8em 8px;
    border-radius: 10px;
    width: 100%;
}
.sidenav-aircraft-sublist-item-anchor:hover{
    background-color: var(--blueHover) ;
}
.sidenav-aircraft-item-sublist{
    display: none;
}