.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0.331);
}

.background-image {
  background-image: url("../assets/images/login-background.jpg");
  background-size: cover;
  position: absolute;
  opacity: 0.9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.white-container {
  z-index: 1;
  background-color: white;
  padding: 100px;
  padding-top: 180px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  position: relative;
  margin: auto auto;
}

.logo-image {
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  height: 200px;
}
.form-control {
  border: none;
  width: 350px;
  height: 50px;
  border-radius: 0;
  border-bottom: 1px solid #ccc;
  box-shadow: none;
  margin-bottom: 5%;
}
.form-control:focus {
  outline: none;
  border-radius: 0;
  border-bottom: 2px solid var(--blue);
}

.btn-block {
  width: 350px;
  height: 50px;
  margin-top: 10%;
  border-radius: 5px;
  background-color: var(--navy);
  color: white;
}
